# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Logs
logs/
*.log

# Environment
venv/
env/
.env/

# IDE files
.idea/
.vscode/
*.swp

# Temp files
*.tmp
*.bak
.DS_Store

# Plotly temporary files
*.html
